{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block body %}
<h2>Martin</h2>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">


        <div class="card">
          <a  href="/acoustic/martin/d_28" title="d-28">
          <img src="/static/images/martin/d28side.jpg" alt="d-28" width="500" height="300"></a>
          <div class="container">
            <h3><b>D-28</b></h3>

          </div>
        </div>


{% endblock %}
