{% extends 'base.html' %}
 {% block body %}
  <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
<form action="" method="post" name="form">

  Make: <input type="text" name="make"  placeholder="Enter guitar model" required="required" id="make">
  Model: <input type="text" name="model"  placeholder="Enter guitar make" required="required" id="model">
  Built: <input type="text" name="built" placeholder="Enter when guitar was created" required="required" id="built">
  Type:
   <select id="type" name="type">
     <option value="electric">Electric</option>
     <option value="canada">Acoustic</option>
   </select>
        <input type="submit" name="submit" id="submit"/>

</form>
{% endblock %}
