<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}
	<h1>Guitars</h1>
	{% endblock %}
</head>

<body>
	<div class="dropdown" style="float:left;">
  <button class="dropbtn">Electric</button>
  <div class="dropdown-content" style="left:0;">
		<a href="/electric/fender/">Fender </a>
		<a href="/electric/gibson/">Gibson </a>
		<a href="/electric/rickenbacker/">Rickenbacker</a>
  </div>
</div>

<div class="dropdown" style="float:right;">
  <button class="dropbtn">Acoustic</button>
  <div class="dropdown-content">
    <a href="/acoustic/martin">Martin</a>
  </div>
</div>


	<hr />
{% block body %}

	{% endblock %}
	<div class="footer">
		<b><p>Zak Rodger • Advanced Web Programming • Coursework 1 • <a href="/">Home </a> • <a href="/about">About </a></p></b>
		<p>Guitar Site &copy; 2018 </p>
	</div>
</body>
</html>


<!--


<img src="/static/images/fender/stratocaster.jpg" alt="Stratocaster">





-->
