{% extends 'base.html' %}


{% block title %}
<h2>{{ make }}</h2>
{% endblock %}

 {% block body %}
 <link rel="stylesheet" type="text/css" href="/static/css/guitarpage.css">


<div class="card">
  <img src="/static/images/{{make}}/{{model}}.jpg" alt="{{model}}" style="width:100%" >
  <div class="container">
    <h4><b>Make: {{ make }}</b></h4>
    <p>Model: {{ model }}</p>
    <p>From: {{ built }}</p>
    <p>Type: {{ type_of_guitar }}</p>
  </div>
</div>




{% endblock %}
