{% extends 'base.html' %}
 {% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css">
<form action="" method="post" name="form">

  Name: <input type="text" name="username"
                 pattern="[A-Za-z ]{3,}"
                 placeholder="Enter name: 3+ letters" required="required" id="username">
        <input type="submit" name="submit" id="submit"/>
</form>
{% endblock %}
