
h1{
    font-size:250%;
    color: #58A4B0;
    text-align: center;
    font-family:"Arial";
	  text-decoration: none;



}


.dropbtn {
    background-color: #A9BCD0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height:auto;
    width:auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #58A4B0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family:"Arial";
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #A9BCD0;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #58A4B0;}

.body{
  background-color: #FFFDFD;
}

.footer{
    border-radius: 5px;
    position: fixed;
    bottom: 5px;
    width: 99.1%;
    background-color: #A9BCD0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family:"Arial";
	  text-decoration: none;
    color: #373F51;

}
