{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block body%}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">

 <h2>Acoustics</h2>

 <div class="card">
   <a  href="/acoustic/martin/" title="martin">
   <img src="/static/images/martin/martinlogo.jpg" alt="fender" width="500" height="300"></a>
   <div class="container">
     <h3><b>Martin</b></h3>

   </div>
   </div>



{% endblock %}
