{% extends 'base.html' %}
  {% block title %}
    Page Not Found
{% endblock %}
  {% block body %}
  <p>The page you were looking for could not be found.
  <p><a href="{{ url_for('index') }}"> Return home</a>
  {% endblock %}
